.header {
    width: 100%;
}

.navbar-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #000;
    color: #fff;
}

/*Burger Menu*/ 
.burger-menu {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    text-align: center;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.burger-menu.open {
    transform: translateX(0);
    opacity: 1;
}

.title-burger-menu {
    background-color: #f60;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.p1 {
    font-size: 2rem;
    margin-top: 2rem;
}

.p1 p {
    align-items: center;
    justify-content: center;
}

.navbar-burger {
    margin-top: 2rem;
}

.navbar-burger ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar-burger li {
    font-size: 2rem;
}


.redes-sociais {
    margin-top: 3rem;
}

.icons-redes-sociais {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#close-icon {
    display: flex;
    border: 2px solid;
}

.close-icon img {
    cursor: pointer;
}

.navbar-desktop {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.navbar2 li{
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.5s ease;
}

.navbar2 li:hover {
    color: #f60;
}

.navbar-desktop ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.container-contact1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container-contact1 img {
    filter: invert(1);
}

.container-contact1 button {
    border: none;
    width: 10rem;
    height: 3rem;
    border: 2px solid #0091ff;
    background-color: #000;
    color: #fff;
    border-radius: 1rem;
}


/*DEIXANDO RESPONSIVO*/



@media (min-width: 1019px) {
    .navbar-mobile {
        display: none;
    }

    .burger-menu {
        display: none;
    }
}

@media (max-width: 1018px) {
    .navbar-desktop {
        display: none;
    }
}